* {
    margin:0;
    padding: 0;
}
body {
    background-color: #BEB5AB;
}
.nav {
    background-color: #FFFBF5;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    align-items: center;
}
a {
    text-decoration: none;
    color: #131313;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2%;
}
a:hover {
    text-decoration: underline #131313;
}
.container a {
    color: black;
    text-decoration: none;
    font-size: 10rem;
}
.fa {
    padding: 50px;
    font-size: 40px;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    
  }
.container {
    margin-top: 5%;
    text-align: center;
}
.fa:hover {
    text-shadow:0 0 10px #392f2f;
}
.menubutton{
    display: none;
}
.sidebar {
    color:#131313;
    background-color: #fffbf588;
    position: fixed;
    text-align: center;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    box-shadow: -10px 0 10px rgba(69, 66, 66, 0.508);
    display: none;
    flex-direction: column;
    backdrop-filter: blur(10px);
    padding-top: 2%;
    line-height: 200%;
}

@media screen and (max-width:480px) {
    .hideOnMobile{
        display: none;
    }
    .menubutton{
        display: block;
    }
    .container a {
        font-size: 8rem;
    }
}
