  body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
    background-color: #BEB5AB;
  }
  .nav {
    background-color: #FFFBF5;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    align-items: center;
}
a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2%;
    color: black;
}
.menubutton{
    display: none;
}
.sidebar {
    background-color: #fffbf588;
    position: fixed;
    text-align: center;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    box-shadow: -10px 0 10px rgba(69, 66, 66, 0.508);
    display: none;
    flex-direction: column;
    backdrop-filter: blur(10px);
    padding-top: 2%;
    line-height: 200%;
}
@media screen and (max-width:480px) {
    #comfort {
        padding-left: 2%;
    }
    .hideOnMobile{
        display: none;
    }
    .menubutton{
        display: block;
    }
}

#image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-gap: 10px;
    margin: 120px auto;
} 
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
img:hover {
    border: 2px solid #e8e9eb;
    box-shadow:0 0 30px #e8e9eb;
}