* {
    margin:0;
    padding: 0;
    color:#131313;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-image: url('ginfobg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.nav {
    background-color: #FFFBF5;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    align-items: center;
}
a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2%;
}
a:hover {
    text-decoration: underline #131313;
}
#comfort {
    text-decoration: none;
}
.sidebar {
    display: none;
    background-color: #fffbf588;
    position: fixed;
    text-align: center;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    box-shadow: -10px 0 10px rgba(69, 66, 66, 0.508);
    flex-direction: column;
    backdrop-filter: blur(10px);
    padding-top: 2%;
    line-height: 200%;
}
.menubutton{
    display: none;
}
#glist {
    height:50%;
}
#glist table,td,tr {
    padding:1rem;
    font-size: 1.2rem;
    text-align: center;
}
#glist th {
    border-bottom:1px solid black;
    padding: 1rem;
    font-size: 1.3rem;
}

h1{
    text-align: center;
    margin-bottom: 3rem;
}
.details {
    text-align: center;
    margin-bottom: 3rem;
}
.details label {
    font-size:1.2rem;
    color:rgb(81, 61, 57);
}
.details input {
    width:20%;
    height:30px;
    background:transparent;
    border: none;
    outline: none;
    border-bottom:1px solid rgb(81, 61, 57);
    font-size:1.2rem;
    color:#FFFBF5;
    margin-right: 2rem;
}
.wrapper {
    display:flex;
    justify-content:center;
    align-items: center;
    height:100vh;
    width:100%;
  }
@media screen and (max-width:480px) {
    .hideOnMobile{
        display: none;
    }
    .menubutton{
        display: block;
    }
}