* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Times New Roman', Times, serif;
}

.wrapper {
  display:flex;
  justify-content:center;
  align-items: center;
  height:100vh;
  width:100%;
  background-image: url('backg.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}

.login-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border-radius: 15px;
  border: 2px solid rgb(250, 250, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
h2 {
  font-size:2em;
  color: rgb(250, 250, 236);
  text-align:center;
}
.input-box {
  position:relative;
  width:310px;
  margin:30px 0;
  color:rgb(50, 16, 16);
  border-bottom:1px solid rgb(250, 250, 236);
}
.input-box label {
  font-size:1.2em;
  line-height: 2rem;
}
.input-box input {
  width:100%;
  height:30px;
  background:transparent;
  border: none;
  outline: none;
  border-bottom:1px solid rgb(250, 250, 236);
  font-size:1.2em;
}

button {
  width:100%;
  height:40px;
  background-color:#000;
  border:1px rgb(250, 250, 236);
  border-radius:40px;
}
button a {
  cursor:pointer;
  font-size: 20px;
  color:rgb(250, 250, 236);
  font-weight:500;
  text-decoration:none;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  color: #000;
  position: relative;
  top:-15px;
  margin: none;
}

#message p {
  font-size: 1rem;
}

.valid:before {
  position: relative;
  left: -5px;
  content: "✔";
}

.invalid:before {
  position: relative;
  left: -5px;
  content: "✖";
}
@media (max-width:500px) {
  .login-box {
    width:100%;
    height:100vh;
    border:none;
    border-radius:0;
  }
  .input-box {
    width:290px;
  }
}
